/* CSS Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
}

/*** Sections ***/

/* Index file */
.index-body-wrapper {
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 40vw;
    border-radius: 30px;
}

.index-form-wrapper > * {
    margin: 10px;
}

.index-header-wrapper {
    text-align: center;
}

.index-login-form {
    display: flex;
    flex-direction: column;
}

.index-login-form > * {
    margin: 10px;
    align-self: center;
    width: 80%;
}

.signup-text {
    align-self: center;
}

.signup-text span {
    text-decoration: underline;
    color: #9dd9d2;
}

.signup-text span:hover {
    cursor: pointer;
    color: #392F5A;
}

/* Signup modal */

.signup-modal {
    margin: auto;
    padding-bottom: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 30px;
    padding: 15px;
}

.signup-close-modal {
    align-self: flex-end;
}

.signup-modal form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.radio-group-input-wrapper {
    display: flex;
    margin: 10px 0px;
}

.signup-modal form > button { 
    align-self: center;
}

.radio-input-wrapper {
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.radio-input-wrapper > input {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

/* Main page */

.main-page-body-wrapper {
    background-color: #FFF8F0;
}

.nav-bar-wrapper {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo-title-wrapper {
    display: flex;
    align-items: center;
    height: 72px;
}

.logo-title-wrapper > div:last-child {
    margin: 0px 10px;
}

.nav-btns-wrapper {
    list-style: none;
    display: flex;
}

.nav-btn {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0px 20px;
    transition-duration: 750ms;
}

.nav-btn:hover {
    color: #FF8811;
    border-bottom: 5px solid #FF8811;
    cursor: pointer;
}

.active-nav-btn {
    color: #FF8811;
    border-bottom: 5px solid #FF8811;
    background-color: #FFFFFF;
}

.nav-btn span {
    margin: 0px 5px;
}

/* Home page */

.home-page-wrapper {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    align-items: center;
    justify-content: center;
    gap: 9%;
    margin: 20px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0.5px #9dd9d2;
    transition-duration: 500ms;
}

.card:hover {
    transform: scale(1.1);
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.img-wrapper {
    width: 110px;
    height: 110px;
    background-color: grey;
    border-radius: 100%;
}

.details-wrapper {
    margin-left: 10px;
}

.bio-wrapper {
    margin: 10px 0px;
}

.btns-wrapper {
    align-self: flex-end;
}

.btns-wrapper > span {
    margin-left: 10px;
}

/* Messages page */

.msgs-page-warapper {
    margin: 80px 80px 0px 80px;
    display: flex;
    flex-direction: column;
}

.msgs-page-content {
    display: flex;
}

.chat-list {
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #FFFFFF;
    margin: 20px 20px 20px 0px;
}

.chat-card {
    border-bottom: 3px solid #9dd9d2;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-card > div:first-child {
    background-color: grey;
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

.chat-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1;
}

.chat-details > p {
    margin: 5px 0px;
}

.chat-details > p:last-child {
    align-self: flex-end;
}

.msgs-wrapper {
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #FFFFFF;
    margin: 20px 20px 20px 0px;
    position: relative;
}

.chat-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #FF8811;
    display: flex;
    align-items: center;
}

.chat-header-img {
    width: 64px;
    height: 64px;
    background-color: grey;
    border-radius: 100%;
}

.chat-header > p {
    margin-left: 10px;
}

.block-btn-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-input {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.new-msg-form {
    width: 100%;
    display: flex;
}

.new-msg-form > input {
    flex-grow: 1;
    margin: 5px 10px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #392F5A;
    outline: none;
    border-radius: 15px;
}

.send-btn {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Utilities ***/
.bold-text {
    font-weight: bold;
}

.large-text {
    font-size: 40px;
}

.meduim-text {
    font-size: 30px;
}

.regular-text {
    font-size: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper > input {
    margin: 5px 0px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #392F5A;
    outline: none;
    border-radius: 15px;
}

.btn {
    background-color: #FFFFFF;
    outline: none;
    border-radius: 20px;
    padding: 10px 40px;
    width: fit-content;
    font-size: 20px;
    transition-duration: 500ms;
}

.btn:hover {
    cursor: pointer;
}

.outlined-btn {
    border: 2px solid #F4D06F;
    color: #392F5A;
    transition-duration: 500ms;
}

.outlined-btn:hover {
    background-color: #F4D06F;
    border: 2px solid #392F5A;
}

.grey-background:hover {
    cursor: pointer;
    background-color: #D9D9D9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.page-title {
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}


/*** Media Query ***/

