/* CSS Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
}

/*** Sections ***/

/* Index file */
.index-body-wrapper {
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.index-form-wrapper > * {
    margin: 10px;
}

.index-header-wrapper {
    text-align: center;
}

.index-login-form {
    display: flex;
    flex-direction: column;
}



/*** Utilities ***/
.bold-text {
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}


/*** Media Query ***/

