/* CSS Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
}

/*** Sections ***/

/* Index file */
.index-body-wrapper {
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 40vw;
    border-radius: 30px;
}

.index-form-wrapper > * {
    margin: 10px;
}

.index-header-wrapper {
    text-align: center;
}

.index-login-form {
    display: flex;
    flex-direction: column;
}

.index-login-form > * {
    margin: 10px;
    align-self: center;
    width: 80%;
}

.signup-text {
    align-self: center;
}

.signup-text span {
    text-decoration: underline;
    color: #9dd9d2;
}

.signup-text span:hover {
    cursor: pointer;
    color: #392F5A;
}

/*** Utilities ***/
.bold-text {
    font-weight: bold;
}

.large-text {
    font-size: 40px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper > input {
    margin: 5px 0px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #392F5A;
    outline: none;
    border-radius: 15px;
}

.btn {
    background-color: #FFFFFF;
    outline: none;
    border-radius: 20px;
    padding: 10px 40px;
    width: fit-content;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
}

.outlined-btn {
    border: 2px solid #F4D06F;
    color: #392F5A;
}

.outlined-btn:hover {
    background-color: #F4D06F;
    border: 2px solid #392F5A;
}


/*** Media Query ***/

